main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.containerWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.2;
}
.cardContainer {
  /* display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  width: 80%;
  transition: all 0.2;
}
